/* 인원-선호 메뉴 페이지 */

* {
    /*box-sizing: border-box;*/
    /*padding: 0;
    margin: 0;*/
}
body {
    text-align: center;
    /*padding: 20px;*/
}

/*상단바*/
#top{
    text-decoration-line: none;
}

/**/

/*table*/
#_table {
    width: 100%;
    border-collapse: collapse;
}
#_table :is(th, td) {/*:is 반복 줄임*/
    border: 1px solid #0002;
    padding: 2px 10px;
}

/*입력칸(2개)(이름,메뉴)*/
.form_control {
    border: 1px solid #0002;
    background-color: transparent;
    outline: none;
    padding: 8px 8px;
    font-family: 1.2rem;
    width: 100%;
    color: #333;
    transition: 0.3s ease-in-out;
}
.form_control::placeholder {
    color: inherit;
    opacity: 0.4;
}
.form_control:is(:focus, :hover) {
    box-shadow: inset 0 1px 4px #0002;
}
/*예시*/
#ex{ 
    background-color: #fff;
    /**/    
    border: none;
    outline: none;
    color: #767676;
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    cursor: pointer;
}
/*추가, 삭제, 확인 버튼*/
#add,.delete, #submitbtn{
    background-color: #767676 !important;
    /**/    
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    cursor: pointer;
}
/*추가버튼:add*/
#add{
    /**/margin-top: 5px;
    margin-bottom: 5px;
    /*height: 33px;*/
}
/*삭제버튼:delete*/
.delete{}
/*확인버튼: submitbtn*/
#submitbtn{
    margin-top: 5px;
    margin-bottom: 5px;
}


/*새로 생성되는 contents*/
.newCon{
    text-align: center;
    float: left;
    /*margin-left: 20px;*/
}

/**/